html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
  font-family: 'karrik';
  line-height: 1.1em;
  font-size: 1.15em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  /*font-size: 100%;*/
}

@font-face {
  font-family: 'MetaKiki';
  src: url(../fonts/MetaAccanthis_regular.ttf);
}

@font-face {
  font-family: 'MetaBouba';
  src: url(../fonts/MetaAccanthisAlternate-Alternate.woff2);
}
@font-face {
  font-family: 'karrik';
  src: url(../fonts/text_fonts/Karrik-Regular.otf);
}
@font-face {
  font-family: 'uncut';
  src: url(../fonts/text_fonts/UncutSans-Regular.woff);
}
@font-face {
  font-family: 'miedinger';
  src: url(../fonts/text_fonts/Miedinger*-Book.otf);
}
@font-face {
  font-family: 'vremena';
  src: url(../fonts/text_fonts/vremenagrotesk-webfont.woff);
}
@font-face {
  font-family: 'aileron';
  src: url(../fonts/text_fonts/Aileron-Regular.otf);
}
h1 {
  font-size: 4em;
}
h1, h2, date, time{
  font-family: 'MetaBouba';
  line-height: 1.1em;
}
/*
h1, h2{
  font-size: 2.3rem;
  line-height: 1.2em;
}*/

h1{
  color: red;
}

main {
  padding: 5px;
}

main section{
  padding: 10px;
}

#agenda div{
  padding: 0px 10px 0px 10px;
}

#container{
  width: 100%;
  height: 100%;
}

#parent{
    display: flex;
    position:absolute;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

div, section{
  position: relative;
  overflow: hidden;
}

.title{
  display: flex;
}

.parts{
  display: flex;
}

.events{
  margin-bottom: 20px;
}

.resizable{
    height: 100%;
    border-right: 1px solid black;
}

#languages{
  position: absolute;
  right: 0;
  left: auto;
  padding: 5px;
}

#checkbox{
  background-color: rgb(187, 187, 187);
}

#div1{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
}

#div5{
  flex-grow: 1;
  width: 100%;
}

#div2{
  display: flex;
  flex-grow: 1;
}

#div2 > div{
  flex-grow: 1;
}

#div3{
  height: 100%;
  width: 60%;
  border-right: 1px solid black;
}

#div4{
  height: 100%;
}

#s1, #s3, #s4{
  border-bottom: 1px solid black;
  width: 100%;
  height: 50%;
}

#s2{
  height: 80%;
  border-bottom: 1px solid black;
}

#s5{
  height: 20%;
  /*flex-shrink: 1;*/
}

#s6{
  width: 100%;
  height: 90%;
  border-bottom: 1px solid black;
}

#s7{
  width: 100%;
  height: 10%;
}

#s1{
  height: 60px;
}

.ui-icon { background-image: url("") !important; }

iframe{
  margin:0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}

.overlay{
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  opacity: 0.2;
}

.event_list{
  display: flex;
}

/*-------SVG--------*/

:root{
  --stroke: rgb(227, 117, 255);
  --stroke-width: 0.15em;
}

#svg-section{
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
#svg-section > svg{
  height: 100%;
  width: 100%;
}

path{
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke: var(--stroke);
  stroke-width: var(--stroke-width);
}

/*---------Scrollbar-----------*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-button {
  height: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187); 
  height: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192); 
}

@media only screen and (max-width: 550px) {

  h1, h2{
    font-size: 1.7rem;
    line-height: 1.2em;
  }

}