html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'karrik';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  font-size: 100%;
}

@font-face {
  font-family: 'MetaKiki';
  src: url(../fonts/MetaAccanthis_regular.ttf);
}

@font-face {
  font-family: 'MetaBouba';
  src: url(../fonts/MetaAccanthisAlternate.ttf);
}
@font-face {
  font-family: 'karrik';
  src: url(../fonts/text_fonts/Karrik-Regular.otf);
}

h1, h2, date, time{
  font-family: 'MetaBouba';
}

h1, h2{
  font-size: 1.7rem;
  line-height: 1.2em;
}

#firstpage h1, h2{
  font-size: 100px !important;
}

#about section{
  padding: 10px;
}

#agenda div{
  padding: 0px 10px 0px 10px;
}

#container{
  width: 100%;
  height: 100%;
}

#parent{
    display: flex;
    flex-grow: 1;
    margin:0;
    padding:0;
    width:100%;
}

div, section{
  position: relative;
  overflow: hidden;
}

.title{
  display: flex;
}

.parts{
  display: flex;
}

.events{
  margin-bottom: 20px;
}

.resizable{
    height: 100%;
    border-right: 1px solid black;
}

#languages{
  margin-right: 0;
  margin-left: auto;
  width: fit-content;
}

#checkbox{
  padding: 5px;
  display: flex;
}

#checkbox label{
  margin-right: 10px;
  display: flex;
}

#container_flex{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#div1, #div2, #div3{
  display: flex;
  flex: 0 1 min-content;
  flex-direction: column;
  height: 100%;
}

.resizable > section{
  border-bottom: 1px solid black;
  /*width: 100vw;*/
  width: 49.7vw;
  flex: 1 1 min-content;
}
.resizable > section#s1 {
  min-height: 219px;
}

#date{
  flex: 0 0 50px;
}

.ui-icon { background-image: url("") !important; }

iframe{
  margin:0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}

.overlay{
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  opacity: 0.2;
}

.event_list{
  display: flex;
}

#date{
  width: 100%;
  height: 100px;
}

section.about {
    flex: 18 0 min-content;
}
section.date {
    flex: 8 1 min-content;
}
section.footer {
    max-height: 48px;
}


/*-------SVG--------*/

:root{
  --stroke: pink;
  --stroke-width: 0.2rem;
}

#svg-section{
  inset: 0;
  border-bottom: solid black 1px;
  height: 25%;
  width: 100%;
}
#svg-section > svg{
  display: block;
  height: 100%;
  width: 100%;
}

path{
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke: var(--stroke);
  stroke-width: var(--stroke-width);
}

#sonic-crowd-network > path{
  /* fill-rule: evenodd; */
  /* fill-opacity: 1;    */
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke: var(--stroke);
  stroke-width: var(--stroke-width);
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
}

@media only screen and (max-width: 550px) {

    .flexbox{
      flex-direction: column;
    }

    .flexbox > div, section{
      border-right: none;
    }

    h1, h2{
      font-size: 1.2rem;
      line-height: 1.2em;
    }

}