@font-face {
  font-family: 'MetaKiki';
  src: url(fonts/MetaAccanthis_regular.ttf);
}

@font-face {
  font-family: 'MetaBouba';
  src: url(fonts/MetaAccanthisAlternate.ttf);
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'MetaKiki';
}

section {
  border: 2px solid green;
}

.agenda {
  display: flex;
}

iframe{
  margin:0;
  width: 100%;
  height: 100%;
  border: none;
}

#container_flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flexbox{
  display: flex;
  width: 100%;
  /*height: calc(50% - 2px);*/
  height: 100%;
  border: 1px solid black;
}

.resizable{
  resize:horizontal;
  overflow: auto;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
h1{
  font-family: "MetaAccanthisAlternate";
font-size: 3em;
}