
/* ___ FONTS ___ */

/* @font-face {
    font-family: "";
    src: url("fonts/");
    font-weight: normal;
} */

:root{
    --stroke: black;
    --stroke-width: 0.3rem;
    /* --stroke-width: 1px; */
}

@font-face {
    font-family: 'MetaKiki';
    src: url(fonts/MetaAccanthis_regular.ttf);
}
  
@font-face {
    font-family: 'MetaBouba';
    src: url(fonts/MetaAccanthisAlternate.ttf);
}
  
body{
    font-family: 'MetaKiki';
}
  

/* ___ GLOBAL ___ */

html{
    background-color: whitesmoke;
    /* background-color: hsl(197, 71%, 80%); */
}
body{
    margin: 0;
    min-height: 100vh;
}
p{
    max-width: 25%;
}
button{
    display: block;
    margin-bottom: 0.5em;
}

#svg-section{
    position: absolute;
    inset: 0;
    display: flex;
    pointer-events: none;
    z-index: 0;
    /* box-sizing: border-box;
    border: 3px solid black; */
}
#svg-section > svg{
    height: 100%;
    width: 100%;

    background: radial-gradient(circle closest-side, red, transparent 75%);
}
#sonic-crowd-network > path{
    /* fill-rule: evenodd; */
    /* fill-opacity: 1;    */
    fill: none;
    vector-effect: non-scaling-stroke;
    stroke: var(--stroke);
    stroke-width: var(--stroke-width);
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
}

#content{
    /* display: none; */
    margin: 2rem;
    position: relative;
    z-index: 1;
}
#content > section{
    /* width: 50%; */
}
h1{
    margin: 0;
    font-family: 'MetaKiki';
    font-size: 3.75rem;
}
h2{
    margin: 0;
    /* margin: 0.5em 0 0; */
    font-family: 'MetaBouba';
    font-size: 3.75rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem; */
}
/* h2 > span:first-child{
    text-align: right;
}

.green{
    color: limegreen;

}
.red{
    color: red;
} */


/* ___ MOBILE ___ */

@media only screen and (max-width: 600px) {

}
